
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicons/favicon-32x32.png') }}">

    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/mdb.min.js') }}"></script>

	
    {% if title %}
	    <title>{{ title }}</title>
    {% else %}
		<title>GroundNut Disease Detection</title>
	{% endif %}
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dist/css/starter-template.css') }}" rel="stylesheet">
  </head>

  <body style="background-color: #ffffff; background-repeat:no-repeat; background-image: url({{url_for('static',filename='images/app_bg.jpg')}});">

    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
      <a class="navbar-brand" href="#"><img valign="middle" style="margin-top:-10px;" src="{{url_for('static',filename='images/icons/homeWhite.png')}}" width="20" height="20">&nbsp;GroundNut Disease</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('upload') }}">Upload Image</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('plants') }}">Plants</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('leaves') }}">Leaves</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('spots') }}">Disease Detected</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('stat') }}">Statistics</a>
          </li>
        </ul>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    	{% if messages %}
        	{% for category, message in messages %}
            	<div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith%}
    {% block content %}{% endblock %}
    
   	<nav class="navbar navbar-expand-md  fixed-bottom">
    	<small class="text-muted">PMAS-AAUR</small>
    </nav>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
